@CHARSET "ISO-8859-1";
.dateChoise {
	width : 130px;
	height :30px
}
.jobsList {
	width : 100%;
	height :30px
}
.ng-invalid.ng-dirty{
	border-color: #7A787E;
}
.ng-valid.ng-dirty{
	border-color: #78FA89;
}